@model LaptopShop.Areas.Admin.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductType.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cpu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cpu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ram)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Screens)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Screens)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Storage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Storage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Operating_System)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Operating_System)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.battery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.battery)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Graphics)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Graphics)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Configuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Configuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Average_Number_Stars)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Average_Number_Stars)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Number_Of_Reviews)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number_Of_Reviews)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
