@model IEnumerable<LaptopShop.Areas.Admin.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Screens)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Storage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operating_System)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.battery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Graphics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Average_Number_Stars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number_Of_Reviews)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                <img style=" max-width:100px ; max-height:100px" src="@Html.DisplayFor(modelItem => item.Image)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Screens)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Storage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operating_System)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.battery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Graphics)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Configuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Average_Number_Stars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number_Of_Reviews)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
