@model IEnumerable<LaptopShop.Areas.Admin.Models.Product>



<div class="wrap-container">
    <div class="slideshow d-flex">
        <div class="slider-left">
            <div class="owl-page owl-carousel owl-theme"
                 data-xsm-items="1:0"
                 data-sm-items="1:0"
                 data-md-items="1:0"
                 data-lg-items="1:0"
                 data-xlg-items="1:0"
                 data-rewind="1"
                 data-autoplay="1"
                 data-loop="0"
                 data-lazyload="0"
                 data-mousedrag="0"
                 data-touchdrag="0"
                 data-smartspeed="800"
                 data-autoplayspeed="800"
                 data-autoplaytimeout="5000"
                 data-dots="0"
                 data-animations="animate__fadeInDown, animate__backInUp, animate__rollIn, animate__backInRight, animate__zoomInUp, animate__backInLeft, animate__rotateInDownLeft, animate__backInDown, animate__zoomInDown, animate__fadeInUp, animate__zoomIn"
                 data-nav="1"
                 data-navtext=""
                 data-navcontainer=".control-slideshow">
                <div class="slideshow-item" owl-item-animation>
                    <a class="slideshow-image" href="" target="_blank" title="Banner">
                        <img src="~/assets/images/slider-4347.jpg" />
                    </a>
                </div>
                <div class="slideshow-item" owl-item-animation>
                    <a class="slideshow-image" href="https://www.google.com/" target="_blank" title="Sneaker Shoes VI">
                        <img src="~/assets/images/slider-7869.jpg" />
                    </a>
                </div>
            </div>
            <div class="control-slideshow control-owl transition"></div>
        </div>
        <div class="slider-right d-flex flex-wrap">
            <div class="slider-right-item">
                <a href="" target="_blank" title="">
                    <img src="~/assets/images/untitled-13-3895.jpg" />
                </a>
            </div>
            <div class="slider-right-item">
                <a href="" target="_blank" title="">
                    <img src="~/assets/images/untitled-13-3895.jpg" />
                </a>
            </div>
        </div>
    </div>

</div>
<div class="wrap-main wrap-home w-clear">

    <div id="product-list-title">
        <div class="wrap-content">
            <div class="owl-page owl-carousel owl-theme"
                 data-xsm-items="2:10"
                 data-sm-items="2:10"
                 data-md-items="3:10"
                 data-lg-items="4:8"
                 data-xlg-items="4:8"
                 data-rewind="1"
                 data-autoplay="1"
                 data-loop="0"
                 data-lazyload="0"
                 data-mousedrag="1"
                 data-touchdrag="1"
                 data-smartspeed="500"
                 data-autoplayspeed="3500"
                 data-dots="0"
                 data-nav="1"
                 data-navtext="<img src='assets/images/icon-prev-tt.png' alt='Icon prev'>|<img src='assets/images/icon-next-tt.png' alt='Icon next'>"
                 data-navcontainer=".control-brand">

            </div>
            <div class="wrap-content-list-product">
                <div>
                    <div class="product-list-title-items">
                        <a href="hieu-nang-gaming" class="scale-img">
                            <img class='lazy' onerror="this.src='http://localhost:8080/laptopannhien_638622W/thumbs/300x170x1/assets/images/noimage.png';" data-src='http://localhost:8080/laptopannhien_638622W/thumbs/300x170x1/upload/product/untitled-3-copy-6875.jpg' alt='Hiệu năng - gaming' />							<span>Hiệu năng - gaming</span>

                        </a>
                    </div>
                </div>
                <div>
                    <div class="product-list-title-items">
                        <a href="doanh-nhan-sieu-ben" class="scale-img">
                            <img class='lazy' onerror="this.src='http://localhost:8080/laptopannhien_638622W/thumbs/300x170x1/assets/images/noimage.png';" data-src='http://localhost:8080/laptopannhien_638622W/thumbs/300x170x1/upload/product/untitled-5-copy-1109.jpg' alt='Doanh nhân - siêu bền' />							<span>Doanh nhân - siêu bền</span>

                        </a>
                    </div>
                </div>
                <div>
                    <div class="product-list-title-items">
                        <a href="do-hoa-ky-thuat" class="scale-img">
                            <img class='lazy' onerror="this.src='http://localhost:8080/laptopannhien_638622W/thumbs/300x170x1/assets/images/noimage.png';" data-src='http://localhost:8080/laptopannhien_638622W/thumbs/300x170x1/upload/product/untitled-6-copy-7554.jpg' alt='Đồ họa - kỹ thuật' />							<span>Đồ họa - kỹ thuật</span>

                        </a>
                    </div>
                </div>
                <div>
                    <div class="product-list-title-items">
                        <a href="van-phong-hoc-tap" class="scale-img">
                            <img class='lazy' onerror="this.src='http://localhost:8080/laptopannhien_638622W/thumbs/300x170x1/assets/images/noimage.png';" data-src='http://localhost:8080/laptopannhien_638622W/thumbs/300x170x1/upload/product/danhmuc1-1120.png' alt='Văn phòng - Học tập' />							<span>Văn phòng - Học tập</span>

                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="product">
        <div class="wrap-content">
            <div class="product-resolution">
                <h3 class="title"><span>Laptop cẤu hình cao giá tốt</span></h3>
                    <div class="product-items">
                        @foreach (var item in Model)
                        {
                        <div class="product-item">
                            <div class="product-image">
                                <a>
                                    <img class='lazy' onerror="this.src = '@item.Image';" data-src='@item.Image' alt='Lenovo Legion 5 17″ Gen 6 (AMD) (2022)' />
                                </a>
                            </div>
                            <div class="product-desc">
                                <h3 class="product-name"><a asp-controller="Home" asp-action="Product_details" asp-route-id="@item.Id">Lenovo Legion 5 17″ Gen 6 (AMD) (2022)</a></h3>
                                <p class="product-struct"><span>CPU</span>  @item.Cpu </p>
                                <p class="product-struct"><span>RAM</span>  @item.Ram</p>
                                <p class="product-struct"><span>SSD</span>  @item.Storage</p>
                                <p class="product-struct"><span>VGA</span>   @item.Graphics</p>
                            </div>
                            <p class="product-price">
                                Giá từ:<span class='price-new'>@item.Price.ToString("#,##0 VNĐ")</span>
                            </p>
                            <p class="cart-product d-flex flex-wrap justify-content-between">
                                <span class="cart-add addcart transition" asp-area="Admin" asp-controller="Carts" asp-action="Add" asp-route-id="@item.Id">thêm vào giỏ hàng</span>
                                <span class="cart-buy addcart transition">mua ngay</span>
                            </p>
                        </div>
                          }
                     </div>
             </div>
        </div>
    </div>
